.headerRow{
    background-color: rgb(103, 169, 98); 
    height: 100px;
    justify-content: center;
    align-items: center;
}
.titleCol{
    font-size: xx-large;
    font-family:'Times New Roman';
    min-width: 270px;
    padding-right: 0px;
    margin-right: 0px;
}

.modalTitle{
    color: ghostwhite;
}

.groceryModal{
    background-color: rgb(103, 169, 98);
}

.headerCol{
    width: 45px;
    
}

.headerContainer{
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
@font-face {
    font-family: 'myFont' ;
    src: url(../../../assets/YoungSerif-Regular.ttf);
}